@media screen and (min-width: 1450px) {
  /* ================ header ================ */
  header {
    max-width: 1500px;
    margin: 30px auto 10px;
    padding: 0px 50px;
    box-sizing: border-box;
    align-items: center;
  }
  header .header {
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }
  header .header > div:nth-child(1) {
    width: 250px;
  }
  header .header .logo h1 {
    width: 100%;
  }
  header .header .logo h1 img {
    width: 200px;
  }
  */

/* header search */
header .header > div:nth-child(2) {
    width: 300px;
  }
  header .search {
    position: relative;
    border-bottom: 2px solid #333;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
    box-sizing: border-box;
  }
  header .search input {
    width: 270px;
    height: 30px;
    border: none;
    font-size: 16px;
    text-indent: 10px;
    outline-style: none;
  }
  header .search i {
    font-size: 20px;
  }
  /* header .h-icon */
  header .header > div:nth-child(3) {
    flex: 1;
    align-self: flex-end;
  }
  header .h-icon {
    width: 500px;
  }
  header .h-icon ul {
    display: flex;

    justify-content: flex-end;
  }
  header .h-icon ul li {
    margin-left: 20px;
  }
  header .h-icon ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header .h-icon ul li a i {
    font-size: 25px;
    margin-bottom: 5px;
  }
  header .h-icon ul li a label {
    font-size: 14px;
  }
  header .header i:hover {
    color: var(--main-color-red);
  }

  /* h-navi */
  header .h-navi {
    margin: 20px 0px 0px;
  }
  header .h-navi .navi {
    display: flex;
  }
  header .h-navi .navi li {
    margin-right: 50px;
    padding: 10px 0px;
  }
  header .h-navi .navi li a {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    position: relative;
  }
  header .h-navi .navi li a:hover {
    color: var(--main-color-red);
  }
  header .h-navi .navi li:nth-child(1) a::before,
  header .h-navi .navi li:nth-child(3) a::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    top: -2px;
    right: -10px;
    border-radius: 10px;
    background-color: var(--main-color-red);
  }

  /* ================ visual ================ */
  #visual {
    width: 100%;
    height: 400px;
    background-image: url(../img/domestic-visual.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    position: relative;
  }

  #visual .v_wrap {
    justify-content: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .v_wrap .v-txt h2 {
    font-size: 35px;
  }
  .v_wrap .v-txt p {
    margin: 10px 0px;
  }

  #visual .search {
    background-color: #fff;
    padding: 20px;
  }
  #visual .search ul {
    width: 1200px;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  #visual .search ul li {
    width: calc(1200px / 4 - 10px);
    border-radius: 5px;
  }
  #visual .search ul li input {
    width: 100%;
    height: 50px;
    background-color: #f2f6f9;
    border: none;
    padding-left: 20px;
    box-sizing: border-box;
    border-radius: 5px;
  }
  #visual .search li:last-child {
    background-color: var(--main-color-red);
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
  }

  #visual .check {
    font-size: 13px;
    color: #555;
    margin-top: 10px;
    align-items: center;
    line-height: 20px;
  }
  #visual .check.on {
    color: #222;
    font-weight: bold;
  }
  #visual .check i {
    font-size: 17px;
    cursor: pointer;
  }
  #visual .check.on i {
    color: var(--main-color-red);
  }
  @keyframes showContents {
    100% {
      opacity: 1;
      filter: blur(0px);
      transform: translateY(0);
    }
  }

  .animate {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContents 0.5s linear 1 forwards;
  }

  .v_wrap .v-txt h2.animate {
    animation-delay: 1s;
  }

  .v_wrap .v-txt p.animate {
    animation-delay: 1.2s;
  }
  .search.animate {
    animation-delay: 1.4s;
  }

  /* ================ container ================ */
  /* ================ con1 ================ */
  #con1 {
    width: 100vw;
    height: 200px;
    margin: 100px auto;
    box-sizing: border-box;
  }

  #con1 .banner {
    width: 90%;
    margin: auto;
    height: 200px;
    background-color: #55c9b4;
    position: relative;
  }
  #con1 .banner ul {
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    color: #fff;
  }

  #con1 .banner .banner-txt h5 {
    font-size: 18px;
  }
  #con1 .banner .banner-txt h3 {
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    margin: 5px 0px 10px;
  }
  #con1 .banner .banner-txt h3 span {
    color: var(--point-color-red);
  }
  #con1 .banner .banner-txt p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  #con1 .banner .banner-txt div {
    font-size: 15px;
    display: inline-block;
    text-align: center;
    padding: 7px 15px;
    border-radius: 30px;
    background-color: #2b685e;
    cursor: pointer;
  }
  #con1 .banner .banner-txt div:hover {
    opacity: 0.8;
  }

  #con1 .banner .banner-txt {
    margin-right: 50px; /* banner-txt와 img 사이의 간격 조정 */
    opacity: 0; /* 초기에 숨기기 */
  }

  #con1 .banner ul li:nth-child(2) {
    opacity: 0; /* 초기에 숨기기 */
  }

  #con1 .banner .banner-txt.animate-slideFromLeft {
    animation: slideFromLeft 2s forwards;
  }

  #con1 .banner ul li:nth-child(2).animate-slideFromRight {
    animation: slideFromRight 2s forwards;
  }

  @keyframes slideFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideFromRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  #con1 .banner ul li:nth-child(2) img {
    width: 280px;
    max-width: 100%;
  }
  /* ================ con2 ================ */
  #con2 {
    width: 100vw;
    margin: 100px 0px 150px;
    padding: 0px 30px;
    box-sizing: border-box;
  }

  #con2 .c2_wrap {
    max-width: 1500px;
    margin: auto;
  }

  #con2 .c2_wrap .c2title h2 {
    font-size: 27px;
  }

  #con2 .c2_wrap .c2title h2 span {
    opacity: 0;
    display: inline-block;
    transform: translateY(20px);
    filter: blur(4px);
  }

  #con2 .c2_wrap .c2title h2 span.animate {
    animation: fadeInUp 0.5s forwards;
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
      filter: blur(4px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0px);
    }
  }

  #con2 .c2_wrap .c2title p {
    font-size: 15px;
    margin: 10px 0px 50px;
  }

  #con2 .c2_wrap ul {
    display: flex;
    gap: 30px;
  }

  #con2 .c2_wrap ul li {
    overflow: hidden;
    width: calc(1500px / 4);
  }

  #con2 .c2_wrap ul li:nth-child(1),
  #con2 .c2_wrap ul li:nth-child(3) {
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 0.5s, transform 2s;
  }
  #con2 .c2_wrap ul li:nth-child(2),
  #con2 .c2_wrap ul li:nth-child(4) {
    opacity: 0;
    transform: translateX(50%);
    transition: opacity 0.5s, transform 2s;
  }

  #con2 .c2_wrap ul li img {
    width: 100%;
    height: 12vw;
  }

  #con2 .c2_wrap ul li h5 {
    font-size: 16px;
    width: 90%;
  }

  #con2 .c2_wrap ul li p {
    font-size: 14px;
    color: #555;
    margin: 15px 0px 5px;
  }

  #con2 .c2_wrap ul li div {
    font-size: 17px;
    margin-top: 10px;
  }

  #con2 .c2_wrap ul li strong {
    font-size: 22px;
  }

  #con2 .c2_wrap ul li:hover {
    cursor: pointer;
  }

  #con2 .c2_wrap ul li:hover img {
    transform: scale(1.1);
  }

  /* ================ con3 ================ */

  /*================== con4 =================*/
}
