/* ================ header ================ */
header {
  max-width: 1500px;
  margin: 30px auto 10px;
  padding: 0px 50px;
  box-sizing: border-box;
  align-items: center;
}
header .header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
header .header > div:nth-child(1) {
  width: 250px;
}
header .header .logo h1 {
  width: 100%;
}
header .header .logo h1 img {
  width: 200px;
}
*/

/* header search */
header .header > div:nth-child(2) {
  width: 300px;
}
header .search {
  position: relative;
  border-bottom: 2px solid #333;
  display: flex;
  align-items: flex-end;
  padding-bottom: 5px;
  box-sizing: border-box;
}
header .search input {
  width: 270px;
  height: 30px;
  border: none;
  font-size: 16px;
  text-indent: 10px;
  outline-style: none;
}
header .search i {
  font-size: 20px;
}
/* header .h-icon */
header .header > div:nth-child(3) {
  flex: 1;
  align-self: flex-end;
}
header .h-icon {
  width: 500px;
}
header .h-icon ul {
  display: flex;

  justify-content: flex-end;
}
header .h-icon ul li {
  margin-left: 20px;
}
header .h-icon ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .h-icon ul li a i {
  font-size: 25px;
  margin-bottom: 5px;
}
header .h-icon ul li a label {
  font-size: 14px;
}
header .header i:hover {
  color: var(--main-color-red);
}

/* h-navi */
header .h-navi {
  margin: 20px 0px 0px;
}
header .h-navi .navi {
  display: flex;
}
header .h-navi .navi li {
  margin-right: 50px;
  padding: 10px 0px;
}
header .h-navi .navi li a {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  position: relative;
}
header .h-navi .navi li a:hover {
  color: var(--main-color-red);
}
header .h-navi .navi li:nth-child(1) a::before,
header .h-navi .navi li:nth-child(3) a::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  top: -2px;
  right: -10px;
  border-radius: 10px;
  background-color: var(--main-color-red);
}

/* ================ visual ================ */
#visual {
  width: 100%;
  height: 400px;
  background-image: url(../img/overseas-visual.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  position: relative;
}

#visual .v_wrap {
  justify-content: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.v_wrap .v-txt h2 {
  font-size: 35px;
}
.v_wrap .v-txt p {
  margin: 10px 0px;
}

#visual .search {
  background-color: #fff;
  padding: 20px;
}
#visual .search ul {
  width: 1200px;
  margin: auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
#visual .search ul li {
  width: calc(1200px / 4 - 10px);
  border-radius: 5px;
}
#visual .search ul li input {
  width: 100%;
  height: 50px;
  background-color: #f2f6f9;
  border: none;
  padding-left: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}
#visual .search li:last-child {
  background-color: var(--main-color-red);
  height: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

#visual .check {
  font-size: 13px;
  color: #555;
  margin-top: 10px;
  align-items: center;
  line-height: 20px;
}
#visual .check i {
  font-size: 17px;
  cursor: pointer;
}

/* ================ container ================ */
/* ================ con1 ================ */
#con1 {
  width: 100vw;
  height: 200px;
  margin: 150px auto;
  box-sizing: border-box;
}

#con1 .banner {
  width: 90%;
  margin: auto;
  height: 200px;
  background-color: #11b68d;
  position: relative;
}
#con1 .banner ul {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
}
#con1 .banner .banner-txt {
  color: #fff;
}
#con1 .banner .banner-txt p {
  font-size: 20px;
  font-weight: lighter;
}
#con1 .banner .banner-txt h3 {
  font-size: 30px;
  margin: 10px 0px;
}
#con1 .banner .banner-txt div {
  width: 80px;
  text-align: center;
  padding: 7px 10px;
  border-radius: 30px;
  background-color: #1d6d8d;
  cursor: pointer;
}
#con1 .banner .banner-txt div:hover {
  opacity: 0.8;
}

#con1 .banner ul li:nth-child(2) img {
  width: 280px;
}
/* ================ con2 ================ */
#con2 {
  width: 100vw;
  margin: 100px 0px 150px;
  padding: 0px 30px;
  box-sizing: border-box;
}
#con2 .c2_wrap {
  max-width: 1500px;
  margin: auto;
}
#con2 .c2_wrap .c2title h2 {
  font-size: 27px;
}
#con2 .c2_wrap .c2title p {
  font-size: 15px;
  margin: 10px 0px 50px;
}
#con2 .c2_wrap ul {
  display: flex;
  gap: 30px;
}
#con2 .c2_wrap ul li {
  overflow: hidden;
  width: calc(1500px / 4);
}
#con2 .c2_wrap ul li img {
  width: 100%;
}
#con2 .c2_wrap ul li h5 {
  font-size: 16px;
  margin: 15px 0px 5px;
}
#con2 .c2_wrap ul li p {
  font-size: 14px;
  color: #555;
}
#con2 .c2_wrap ul li div {
  font-size: 17px;
  margin-top: 10px;
}
#con2 .c2_wrap ul li strong {
  font-size: 22px;
}
#con2 .c2_wrap ul li:hover {
  cursor: pointer;
}
#con2 .c2_wrap ul li:hover img {
  transform: scale(1.1);
}

.text--scale [data-scroll="out"] .char {
  -webkit-transform: scale(0);
  transform: scale(0);
}
.text--turning [data-scroll="out"] .char {
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.text--folding [data-scroll="out"] .char {
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
}
.text--bulge [data-scroll="in"] .char {
  -webkit-animation-name: bulge;
  animation-name: bulge;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
}
@-webkit-keyframes bulge {
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
@keyframes bulge {
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}

/* ================ con3 ================ */
#con3 {
  width: 100vw;
  margin: 0px auto 100px;
}
#con3 .c3_wrap {
  max-width: 1500px;
  height: auto;
  margin: auto;
  display: flex;
}
#con3 .c3_wrap > ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  /* margin: 0px 30px 30px; */
}
#con3 .c3_wrap .tab {
  width: 450px;
  height: 500px;
  background-color: #01976c;
  padding: 100px 50px 100px 70px;
}
#con3 .c3_wrap .tab h3 {
  color: #fff;
  font-size: 35px;
  margin-bottom: 80px;
}
#con3 .c3_wrap .tab .tabMenu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}

#con3 .c3_wrap .tab .tabMenu li {
  display: flex;
  width: auto;
  padding: 10px 30px;
  background-color: #fff;
  border-radius: 30px;
}
#con3 .c3_wrap .tab .tabMenu li.active {
  background-color: #333;
}
#con3 .c3_wrap .tab .tabMenu li.active a {
  color: #fff;
}

/* tabContents */
.tabContents {
  width: 1150px;
  height: 450px;
  margin-left: -150px;
  position: relative;
}
.tabContents > ul {
  width: 100%;
  height: 100%;
  position: relative;
}
.tabContents > ul > li {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
}
.tabContents > ul > li.on {
  display: block;
}
.tabContents > ul > li > ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tabContents > ul > li > ul > li {
  background-color: #fff;
  width: calc(100% / 3 - 20px);
  height: 100%;
  border: 1px solid #ccc;
  overflow: hidden;
}
.tabContents > ul > li > ul > li:hover {
  cursor: pointer;
  border-color: var(--main-color-red);
}
.tabContents > ul > li > ul > li img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}
.tabContents > ul > li > ul > li:hover img {
  transform: scale(1.1);
}
.tabContents > ul > li > ul > li .c3Txt {
  padding: 30px;
}
.tabContents > ul > li > ul > li .c3Txt h4 {
  font-size: 17px;
}
.tabContents > ul > li > ul > li .c3Txt p {
  padding: 20px 0px;
  color: var(--text-color-gray);
  font-size: 15px;
}
.tabContents > ul > li > ul > li .c3Txt .price {
  font-size: 25px;
}
.tabContents > ul > li > ul > li .c3Txt span {
  font-weight: normal;
  font-size: 20px;
}

/*================== con4 =================*/
#con4 {
  width: 100vw;
  height: auto;
  margin: 150px auto;
  padding: 0px 30px;
  box-sizing: border-box;
}

#con4 .c4_wrap {
  max-width: 1500px;
  height: auto;
  margin: auto;
}

#con4 .c4_wrap h2 {
  font-size: 27px;
  margin-bottom: 30px;
}

#con4 .c4_wrap .grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  flex-wrap: wrap;
}

#con4 .c4_wrap .grid-container .item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  position: relative;
}
#con4 .c4_wrap .grid-container .item h3 {
  font-size: 18px;
  position: absolute;
  bottom: 20px;
  left: 30px;
  color: #fff;
  max-width: 360px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#con4 .c4_wrap .grid-container .item1 {
  grid-column: span 2;
  grid-row: 1 / 25;
  background-image: url(../img/overseas-con4-1.jpg);
}

#con4 .c4_wrap .grid-container .item2 {
  grid-column: span 2;
  grid-row: 1 / 13;
  background-image: url(../img/overseas-con4-2.jpg);
}

#con4 .c4_wrap .grid-container .item3 {
  grid-column: span 2;
  grid-row: 13 / 25;
  background-image: url(../img/overseas-con4-3.jpg);
}

#con4 .c4_wrap .grid-container .item4 {
  grid-column: span 2;
  grid-row: 1 / 13;
  background-image: url(../img/overseas-con4-4.jpg);
}

#con4 .c4_wrap .grid-container .item5 {
  grid-column: span 2;
  grid-row: 13 / 25;
  background-image: url(../img/overseas-con4-5.jpg);
}

#con4 .c4_wrap .grid-container .item .itemHover {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #85000b9a;
  border-radius: 20px;
  color: #fff;
}
#con4 .c4_wrap .grid-container .item .itemHover .iHWrap {
  width: 85%;
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
}
#con4 .c4_wrap .grid-container .item .itemHover .iHWrap h4 {
  font-size: 18px;
}
#con4 .c4_wrap .grid-container .item .itemHover .iHWrap p {
  font-size: 16px;
  padding: 20px 0px 10px;
  width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#con4 .c4_wrap .grid-container .item .itemHover .iHWrap .dis a {
  float: right;
  font-weight: bold;
  color: #555;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 14px;
}
#con4 .c4_wrap .grid-container .item .itemHover .iHWrap .dis a:hover {
  opacity: 0.6;
}
#con4 .c4_wrap .grid-container .item .itemHover .iHWrap .dis strong {
  font-size: 25px;
}
#con4 .c4_wrap .grid-container .item .itemHover .iHWrap .dis strong span {
  font-size: 20px;
  font-weight: normal;
}
